@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
      url('./fonts/Gilroy-Bold.woff2') format('woff2'),
      url('./fonts/Gilroy-Bold.woff') format('woff'),
      url('./fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  font-family:Gilroy, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color:#fff;

  height: 100vh;
  background-image: 
  url("./images/background.svg"),
  radial-gradient(
    circle at top right,
    #302e5a 12%, #272D3D 39%
  );
  background-position: right 0% bottom 63%;
  background-repeat: no-repeat;
  
@media screen and (max-width: 768px) {
        background-image: linear-gradient(to top, #302e5a 12%,
          #272D3D 39% );
            background-color:#302e5a;
      }
}
body div{
  box-sizing: border-box;
}
body input{
  box-sizing: border-box;
}
body p  {
  margin:0;
}
body h2  {
  margin:0;
}
body h6  {
  margin:0;
}
body ul  {
  margin:0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
